* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #faf9f6;   
    font-family: 'Inter', sans-serif;
    color: #3a3a32;
    padding: 0 40px;
}

header {
    display: flex;
    background-color: #faf9f6;
    padding: 20px;
    font-size: 30px;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

section{
    padding-top:30px;
}

h2 {
    color:#8a8778;
    text-transform:uppercase;
    letter-spacing:1px;
    font-size:15px;
}

.menu {
    display: flex;
    gap: 20px;
    font-family: monospace;
    font-size: 20px; 
}

.menu-item {
    color: #5f7161;
    text-decoration: none;
}

.hero {
    background: linear-gradient(135deg, #4a8385 0%, #5f7161 30%, #7a7145 55%, #9e6a3e 80%, #8a5040 100%);
    display: flex;
    align-items: center;
    padding: 50px;
    color: #faf9f6;
    gap: 30px;
}

.profile-pic {
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.social-links {
    display: flex;
    gap: 20px;
    font-family: monospace;
    font-size: 20px;
}

.social-link {
    text-decoration: none;
    color:inherit;
    padding: 8px 16px;
    border-radius: 20px;
    background-color: rgba(161, 161, 161, 0.411);
    border-style:solid;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.5);
}

.skill-tags {
    flex-wrap: wrap;
    gap: 5px;
}

.tag {
    border-radius: 20px;
    padding: 4px 8px;
}

.tag-dotnet {
    background-color: #e8ede5;
    color: #3d5240;
}

.tag-python {
    background-color: #dde8e9;
    color: #2e5456;
}

.tag-sql {
    background-color: #f5e6da;
    color: #7a3f22;
  
}

.tag-html {
    background-color: #f0e9d8;
    color: #6b5a2e;
}
